<?php

return [
    "logbug" => [
        "email" => [
            "smtp" => [
                'host' => 'smtp.server.com',
                'username' => 'error@server.com',
                'password' => 'yourpassword',
                'ssl' => 'tls',
                'port' => 587,
            ],
            'send' => [
                'from' => 'error@server.com',
                'subject' => 'Error notification',
                
                //e-mails to receive notification
                'to' => ['myteam@gmail.com', 'myteam2@mail.com']
            ],
            
            'ignore' => [
                //ignore errors
                'error' => [
                    'E_NOTICE',
//                    'EXCEPTION_RENDER_ERROR',
//                 'EXCEPTION_DISPATCH_ERROR'
                ],
                
                //ignore error with code
                'code'=>[
                    '403'
                ]
            ]
        ]
    ]
];

